@{
    ViewData["Title"] = "فاکتور";
}

@model dynamic


@section NavItem{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="home" asp-action="bill"></a>
    </li>
}

<header class=" justify-content-center" style=" background-color:white;border-radius: 17px;">

    <p style="text-align:center; border:none; block-size:none;padding-top:2vh;" class="text-sm-centr">
        @{
            var person = Model.personInfo;
            @person.PersonName
        }
    </p>
    <hr />

</header>

<form style=" direction:rtl; text-align:center ;  ">



    <body class="justify-content-center" style="direction:rtl;text-align:justify; background-color:#E2E2E2;">

        <div class="row  text-center">
            <div class="g-col-1 row">
           
                

            </div>
            <div class="g-col-2"><img class="gymlogo"  src="@Url.Content("~/images/logo-no-background.svg")" /></div>
        </div>
        <table style=" border-radius: 10px;text-align:justify; background-color:white;height:5vh; width:100%;" class="table">
            <thead>
                <tr>
                   
                    <th style="height:5vh; width:28vh;" scope="col">نام تعرفه</th>
                    <th style="height:5vh; width:28vh;" scope="col">مربی</th>
                    <th style="height:5vh; width:28vh;" scope="col">قیمت</th>
                </tr>
            </thead>
            
        </table>

        @foreach (var dyn743 in Model.tarefeList)
         {
             @if (dyn743.Selected == true)
             {
                 <table style=" border-radius: 17px;text-align:justify; background-color:white;height:5vh; width:100%;" class="table">
                     <tbody>
                         <tr>
                            
                             <td style="height:5vh; width:28vh;">@dyn743.TarefeTitle</td>
                                     <td style="height:5vh; width:28vh;">---</td>
                             <td style="height:5vh; width:28vh;">@dyn743.TarefePrice</td>
                         @*  <td style="height:5vh; width:28vh;">@dyn743.StartTime_F23</td>
                             <td style="height:5vh; width:28vh;">@dyn743.EndTime_F25</td>
                             <td style="height:5vh; width:28vh;">@dyn743.Zaman_F88</td>
                             <td style="height:5vh; width:28vh;">@dyn743.morabiName_F53</td>  *@
                             
                         </tr>
                                  
                     </tbody>
                 </table>
             }

                        
         }



        <style>
            .g-col-1 {
                box-sizing: border-box;
                font-size: 0.7em;
                width: 50%;
                height: 141px;
                background: #FFFFFF;
                border-radius: 17px;
                padding:10px;
                margin:15px;
            }

            .g-col-2 {
                box-sizing: border-box;
                
                width: 40%;
                height: 141px;
                background: #Ffffff;
                border-radius: 17px;
                margin-top:15px;

                margin-right:5vh;
            }

            .gymlogo{
               
                height:10em; 
                width:10em;
                position:relative;
                right: 140px;
                top: -50px;

            }


        </style>
    </body>







     
        
        

              <button style=" border: 2px solid ; border-radius: 17px; height:50px; width:850px;" type="button" class="btn btn-info btn-md" id="myBtn3">پرداخت</button>

        
        <!-- Modal -->
        <div style="border-radius: 17px;" class="modal fade" id="myModal3" role="dialog">
            <div style=" direction:rtl;" class="modal-dialog">

                <!-- Modal content-->
                <div style="border-radius: 17px;" class="modal-content">
                    <div style="border-radius: 17px;background-color:midnightblue;height:20vh;" class="modal-header">
                        <div class="container text-center">
                            <div class="row row-cols-auto">
                                <div class="col"></div>
                                <div class="col">Column</div>
                                <div class="col">Column</div>
                                <div class="col">Column</div>
                                <div class="col"> </div>
                            </div>
                        </div>
                        
                    </div>
                    <div tabindex="2" style="border-radius: 17px;background-color:white;margin-top:-5vh;height:50vh;" class="modal-body">
                        <p>You cannot click outside of this modal to close it.</p>
                    </div>
                    <div class="modal-footer  text-md-center">
                        @*<button type="button" style="text-align:center;" class="btn btn-default" data-dismiss="modal">پرداخت</button>*@
                        <button  id="btnAdd"style="border-radius: 10px;background: #FFD600;" type="AddBill" class="btn btn">ثبت فاکتور</button>
                    </div>
                </div>

            </div>
        </div>

</form>
<footer>
</footer>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        
        $("#myBtn3").click(function () {
            $("#myModal3").modal({ backdrop: "static" });
        });
    });

    //$(window).load(function () {
    $(document).ready(function () {
        console.log(`win loaded`);
    
  
    var name = $('#txtName').val();
    console.log(`test: ${name}`);

        $('#btnAdd').click(function () {
            console.log(`clicked`);
       
     
     
        $.ajax({
                type: "POST", //HTTP POST Method
                 url: "CRUD", // Controller/method
         data: { //Passing data
             PersonId: $('#txtName').val() //$("#txtName").val() //Reading text box values using Jquery

                }, success: function (data) { location.reload(); }
                        });
                    
                });

        });

    $(document).ready(function () {
        console.log(`win loaded`);


        var name = $('#txtName').val();
        console.log(`test: ${name}`);

        $('#btnAdd').click(function () {
            console.log(`clicked`);



            $.ajax({
                type: "POST", //HTTP POST Method
                url: "ServiceFile", // Controller/method
                data: { //Passing data
                    PersonId: $('#txtName').val() //$("#txtName").val() //Reading text box values using Jquery

                }, success: function (data) { location.reload(); }
            });

        });

    });
        

</script>
