@{
    ViewData["Title"] = "تعرفه";
}


@model dynamic

@section NavItem
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="tariff"></a>
    
    </li>
}






<div style="direction:rtl;background: linear-gradient(180deg, #B4C1D0 0%, rgba(178, 190, 204, 0) 100%);  height:100%; width:100%;">


    <p style="text-align:center; border:none; block-size:none;padding-top:2vh;" class="text-sm-centr">
        @{
            var person = Model.personInfo;
            @person.PersonName
        }
    </p>
    <hr />

    @{
        int i = 1;
        int colorStep = 80;
        Int64 summ = 0;
<body style="direction:rtl;text-align:justify; ">

        <style> 
body {
     font-family: B Roya, Helvetica, sans-serif;
     background-image: url("~/images/wave.png");
     background-repeat:no-repeat; 
     background-size:cover; 
     background-opacity: 0.1;

}  
</style>
    

        
       
            @foreach (var dyn979 in Model.tarefeList)
            {
               
                
                if (dyn979.service_id != -1)
                {
                    i = i + colorStep;
               
                            <div style=" border-radius: 17px;margin:5px;" class="row">

                            <div id="mainCAt" style="color:white;border-radius: 1px; font-size: 2vh; height:11vh; width:15vh;background-color:@(GetColorIndex(i)+"99");text-align:center; margin:4.5vh 0px 0px 0px; padding-top:3.5vh;">
                            @dyn979.service_name
                                
                            </div>

                        @foreach (var dyn743 in Model.tarefeList)
                        {
                            @if (dyn743.service_id == -1)
                            {
                                @if (dyn743.khedmatId == dyn979.service_id)
                                {

                                    @if (dyn743.Selected == true)
                                    {
                                        <button class="btn" id=@dyn743.TarefeId onclick="" value = "0" style=" border-radius: 1px; background:linear-gradient(-90deg, #B1B5B9 0%, rgba(178, 190, 204, 0) 100%); height:13.5vh; width:15vh; text-align:center; margin-top:2vh; ">
                                            

                                        </button>
                                    }else{
                                        <button class="btn" id=@dyn743.TarefeId onclick="" value=@i style=" border-radius: 1px;background: linear-gradient(90deg,#FFFFFF 0%, rgba(219, 214, 214, 0.64)  100%);  height:13.5vh; width:15vh; text-align:center;margin-top:2vh;border-right:0px;border-left:0px;border-bottom:0px;  border-top: 2.5vh solid; border-image:  linear-gradient(to right, @(GetColorIndex(i)+"50"),@(GetColorIndex(i)+"99")) 1;">
                                            <div style="color:white; font-size: 1.25vh;margin-top:-2.5vh;margin-right:4vh;position:absolute; text-align:justify-all;">@dyn743.TarefeTitle</div>

                                            <div style="font-size: 1vh; text-align:right; color:@(GetColorIndex(i)+"99");">مبلغ: </div>
                                            <div id="CurrencyFormat" style="font-size: 1.25vh;">@dyn743.TarefePrice</div>
                                            <div style="font-size: 1vh;text-align:right; color:@(GetColorIndex(i)+"99");">مربی: </div>
                                            <div  style="font-size: 1.25vh;">---</div>
                                            <div style="font-size: 1vh;text-align:right; color:@(GetColorIndex(i)+"99");">زمانبندی: </div>
                                            <div  style="font-size: 1.25vh;">آزاد</div>
                                
                                        </button>
                                    }
                                }

                            }

                        }
                        </div>
                   
                }
              

            }



            <hr />

                <div > <p >تعرفه های انتخاب شده:</p></div>
          
            <hr />
            <br />

            @foreach (var dyn743 in Model.tarefeList)
            {

                if (dyn743.Selected == true)
                {
                    <button class="btn" id=@dyn743.TarefeId value="selected" onclick="" style="margin-left:-0.5vh; border-radius: 1px;background: linear-gradient(90deg,#FFFFFF 0%, rgba(219, 214, 214, 0.64)  100%);  height:13.5vh; width:15vh; text-align:center;border-right:0px;border-left:0px;border-bottom:0px;  border-top: 2.5vh solid; border-image:  linear-gradient(to right, @(GetColorIndex(dyn743.Color)+"50"),@(GetColorIndex(dyn743.Color)+"99")) 1;">
                        <div style="color:white; font-size: 1.5vh;margin-top:-6.5vh;margin-right:2vh;position:absolute;">@dyn743.TarefeTitle</div>

                        <div id="CurrencyFormat" style="font-size: 1.5vh;">@dyn743.TarefePrice</div>
                        
                    </button>


                    summ = summ + dyn743.TarefePrice;


                }
   
    }

            





    </body>
    <br/>
    <br/>
    <br/>

        <footer class="d-flex justify-content-center" style="">
            <div class="d-flex justify-content-center" style="">
            <form style="" method="post" asp-controller="home" asp-action="bill" method="post">
                <div class="row" style=" ">

                
                        <input style="background-color:#ffff;border-radius:0px 17px 17px 0px; border: 1px solid #159300;width:15vh;height:5vh;" type="submit" name="test" value="تایید" id="save">
                    <div style="background-color:#159300;padding-top:0.5vh; "><img style=" height:1.5em; width:1.5em;" src="@Url.Content("~/images/tick-mark.png")" /></div>
            
                           
  
            
                </div>
            </form>
            <form style="" method="post" asp-controller="home" asp-action="bill" method="post">
            <div style="border-radius: 17px; margin:0vh 2vh 2vh 2vh;">


                    <div style="width:19vh;height:5vh; text-align:center;" type="submit" name="test" value="@summ" id="CurrencyFormat">@summ
                       
                    </div>
                   
            </div>
            </form>
            <form style="" method="post" asp-controller="home" asp-action="ClearAllBtn" method="post">
                <div class="row" style="  border-radius: 17px; ">


                    <div style="background-color:#CA0000;padding-top:0.5vh;"><img style=" height:1.5em; width:1.5em;" src="@Url.Content("~/images/cross.png")" /></div>
                    <input style=" background-color:#ffff;border-radius:17px 0px 0px 17px; border: 1px solid #CA0000;width:15vh;height:5vh;" type="submit" name="test" value="انصراف" id="deleteAll">
                       
           
                    </div>
            </form>

            </div>
        
    </footer>
    }
    </div>


@functions {
    public string GetColorIndex(int index)
    {
        int n = 255;

        for (; index > n; index -= n)
            ;


        string R = "FF";
        string G = "FF";
        string B = "FF";


        int step = 255 / (n / 3);
        int Rlimit = 1;
        int Blimit = (n / 3) + 1;
        int Glimit = 2 * (n / 3) + 1;


        string colorCode;

        if (index < Blimit)
        {
            R = (255 - (index - Rlimit) * step).ToString("x");
            G = "00";
            B = ((index - Rlimit) * step).ToString("x");

        }
        else if (index == Blimit)
        {
            B = "FF";
            R = "00";
            G = "00";
        }
        else if (index > Blimit & index < Glimit)
        {
            R = "00";
            G = ((index - Blimit) * step).ToString("x");
            B = (255 - (index - Blimit) * step).ToString("x");
        }
        else if (index == Rlimit)
        {
            B = "00";
            R = "FF";
            G = "00";
        }
        else if (index > Glimit)
        {
            R = ((index - Glimit) * step).ToString("x");
            G = (255 - (index - Glimit) * step).ToString("x");
            B = "00";

        }
        else if (index == Glimit)
        {
            B = "00";
            R = "00";
            G = "FF";
        }
        if (R.Length < 2) R = "0" + R;
        if (G.Length < 2) G = "0" + G;
        if (B.Length < 2) B = "0" + B;

        colorCode = "#" + R + B + G;
        //colorCode = B.ToString() + " - " + B.ToString() + "-" + G;

        //colorCode = ((R * 65536) + (G * 256) +B).ToString("x");

        return colorCode;

    }
}


  
@*****************************************jQuery *****************************************@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
              $(document).ready(function () {
                $("button").click(function () {
                    ;

                    console.log("btn id:" + (this).id + " value :" + (this.value));



            if (this.value != "selected" & this.value != "0") {
                      
                        if(this.value != "0"){

                        
                            $.ajax({

                                type: "POST", //HTTP POST Method
                                url: "SelectBtn", // Controller/method
                                data: { //Passing data
                                BtnId: (this).id, //$("#txtName").val() //Reading text box values using Jquery
                                ColIndex: this.value
                               

                                }, success: function (data) { location.reload(); }
                            });
                        }

                    } else if (this.value == "selected") {
                        $.ajax({

                            type: "POST", //HTTP POST Method
                            url: "DeSelectBtn", // Controller/method
                            data: { //Passing data
                                BtnId: (this).id, //$("#txtName").val() //Reading text box values using Jquery



                            }, success: function (data) { location.reload(); }
                        });


                    }

                    //MakeBtn((this).id, (this).value);
            /*repeating-linear-gradient(45deg, rgb(250, 252, 255)0, rgba(211, 211, 211, 1) 1px)*/


                });

        CurrencyFormat();

            });




    function CurrencyFormat() {




        $("div").each(function (id, textContent) {

            if (this.id == "CurrencyFormat") {

                money = this.textContent;


                nfObject = new Intl.NumberFormat('en-US');
                output = nfObject.format(money);

                console.log(`div${this.id}: currency : ${output}`);

                this.textContent = output;

            }


        });

    }
</script>
