@{
    ViewData["Title"] = "تعرفه";
}


@model dynamic

@section NavItem
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="tariff">تعرفه</a>
    
    </li>
}





<header  class="w-100 p-5">
    <input style="direction:rtl;" class="text-sm-right" value="@{
        var person = Model.personInfo;@person.PersonName
 }">
    <input style="direction:rtl;" class="text-sm-right" value="@{
        var person2 = Model.personInfo;
        @person2.PersonName
 }">
           
        

    </header>


    <body style="direction:rtl;text-align:justify;">
      
        
            @foreach (var dyn979 in Model.tarefeList)
            {

                @if (dyn979.service_id != -1)
                {
                            <div style=" border-radius: 17px;margin:5px;" class="row">

                            <div style=" height:100px; width:15vh;background: linear-gradient(90deg, #FF8900 23.23%, #FE4D01 100%);text-align:center; margin:5px;padding:2%;">@dyn979.service_name </div>

                        @foreach (var dyn743 in Model.tarefeList)
                        {
                            @if (dyn743.service_id == -1)
                            {
                                @if (dyn743.khedmatId == dyn979.service_id)
                                {
                                    <button id=@dyn743.TarefeId onclick="" value=@dyn743.TarefePrice style="margin:5px;height:100px; width:25vh;border:none;background: linear-gradient(90deg,#FFFFFF 55%, rgba(219, 214, 214, 0.64)  100%);text-align:center;">@dyn743.TarefeTitle @dyn743.TarefePrice</button>
                                }

                            }

                        }
                        </div>
                }

            }
 

 
        <br />
        <p>تعرفه های انتخاب شده:</p>
        <hr />
        <br />
         <div id="selection" style="direction:rtl;" class="text-md-right"></div>

<table  style=" border-radius: 17px;text-align:justify; background-color:white;height:5vh; width:100%;" class="table">

    @foreach (var dyn743 in Model.tarefeList)
    {
     
        if (dyn743.Selected == true)
        {
            int n = 0; 

                     <tbody id="Selected">
                         <tr>
                             <td style="height:5vh; width:6vh;">#</td>
                             <td style=" height:5vh; width:28vh;">@dyn743.TarefeTitle</td>
                             <td style="height:5vh; width:28vh;">@dyn743.TarefeId</td>
                             <td style="height:5vh; width:28vh;">@dyn743.TarefePrice</td>
                         </tr>
                                  
                     </tbody>
              

        }

    }
</table>



    <style>

    </style>
    </body>

    <footer>

        <table>

            <tr>

                <td>
                    <h5> مجموع مبلغ: </h5>
                </td>
                <td>
                    <p>&emsp;</p>
                </td>
                <td>
                    <h5 id="total"> 0 </h5>
                </td>
                <td>
                    <p>&emsp; &emsp; &emsp; &emsp;</p>
                </td>
                <td>
                    <form method="post" asp-controller="home" asp-action="bill" method="post">
                        @*</input><td>@Html.ActionLink("Home", "SendToFactor", new { TarefeId = 1 })</td>*@
                        <input type="submit" name="test" value="تایید نهایی" id="save"> 
                    </form>
                </td>
                <td>
                    <p>&emsp; &emsp; &emsp; &emsp;</p>
                </td>
                <td>
                    <form method="post" asp-controller="home" asp-action="ClearAllBtn" method="post">
                        <input type="submit" name="test" value="حذف همه" id="deleteAll"> 
                    </form>
                </td>

            </tr>

        </table>
        
    </footer>


@*****************************************jQuery *****************************************@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
              $(document).ready(function () {
                $("button").click(function () {
                    //alert("clicked: "+ (this).value);


                    // alert("click:");
                    //$("input").write()
                    //$("input").hide()
                    // $(document).weite((this).id);

                    console.log("btn id:" + (this).id + " value :" + (this.value));



                    if (this.id != "Selected") {


                        $.ajax({

                            type: "POST", //HTTP POST Method
                            url: "SelectBtn", // Controller/method
                            data: { //Passing data
                                BtnId: (this).id //$("#txtName").val() //Reading text box values using Jquery

                            }, success: function (data) { location.reload(); }
                        });


                    }

                    //MakeBtn((this).id, (this).value);

                });

                Calculate();

            });



            function Calculate() {

                var totalPrice = 0;

                $("#total").text("0");

                $("button").each(function (index, value) {
                    console.log(`div${index}: ${(this.id).substring(0, 1)} : ${this.value}`);
                    if ((this.id) == "Selected") {

                        

                        totalPrice = totalPrice + parseFloat(this.value);

                        $("#total").text(totalPrice);

                    }
                });

            }

</script>
