@{
    ViewData["Title"] = "تعرفه";
}


@model dynamic

@section NavItem
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="tariff">تعرفه</a>
    
    </li>
}





<header class=" row w-100 p-2 text-sm-right" style="background-color:white;border-radius: 17px;">
    
    <input style="direction:rtl; border:none; block-size:none;" class="text-sm-centr" value="@{var person = Model.personInfo;@person.PersonName }"> 
    <div class="text-lg-right">،به باشگاه خوش اومدی</div>

</header>


<body style="direction:rtl;text-align:justify;background-color:#E7F8FC;">

    
            @foreach (var dyn979 in Model.tarefeList)
            {
                
                if (dyn979.service_id != -1)
                {
                            <div style=" border-radius: 17px;margin:5px;" class="row">

                            <div id="mainCAt" style=" height:100px; width:15vh;background: linear-gradient(90deg, #FF8900 23.23%, #FE4D01 100%);text-align:center; margin:5px;padding:2%;">@dyn979.service_name
                                <div>@GetColorIndex(7)</div>
                            </div>

                        @foreach (var dyn743 in Model.tarefeList)
                        {
                            @if (dyn743.service_id == -1)
                            {
                                @if (dyn743.khedmatId == dyn979.service_id)
                                {

                                    @if (dyn743.Selected == true)
                                    {
                                        <button class="btn" id=@dyn743.TarefeId onclick="" value=@dyn743.TarefePrice style="background-color:cadetblue;  margin:5px;   height:100px;  width:25vh; text-align:center;   border: 1px dashed #000000;">
                                            <div >@dyn743.TarefeTitle</div>
                                            <div >@dyn743.TarefePrice</div>
                                
                                        </button>
                                    }else{
                                        <button class="btn" id=@dyn743.TarefeId onclick="" value=@dyn743.TarefePrice style="margin:5px;   height:100px;  width:25vh; text-align:center;   border: 1px dashed #000000;">
                                            <div >@dyn743.TarefeTitle</div>
                                            <div >@dyn743.TarefePrice</div>
                                
                                        </button>
                                    }
                                }

                            }

                        }
                        </div>
                }

            }
 

 
        <br />
        <p>تعرفه های انتخاب شده:</p>
        <hr />
        <br />
         <div id="selection" style="direction:rtl;" class="text-md-right"></div>


    @foreach (var dyn743 in Model.tarefeList)
    {
     
        if (dyn743.Selected == true)
        {
            int n = 0;

            <button style="margin:5px;   height:100px;  width:25vh; text-align:center;   border: 1px dashed #000000;" id="Selected">@dyn743.TarefeTitle @dyn743.TarefePrice </button>
              

        }

    }




    <style>
        
    </style>
    </body>

    <footer>

        <table>

            <tr>

                <td>
                    <h5> مجموع مبلغ: </h5>
                </td>
                <td>
                    <p>&emsp;</p>
                </td>
                <td>
                    <h5 id="total"> 0 </h5>
                </td>
                <td>
                    <p>&emsp; &emsp; &emsp; &emsp;</p>
                </td>
                <td>
                    <form method="post" asp-controller="home" asp-action="bill" method="post">
                        @*</input><td>@Html.ActionLink("Home", "SendToFactor", new { TarefeId = 1 })</td>*@
                        <input type="submit" name="test" value="تایید نهایی" id="save"> 
                    </form>
                </td>
                <td>
                    <p>&emsp; &emsp; &emsp; &emsp;</p>
                </td>
                <td>
                    <form method="post" asp-controller="home" asp-action="ClearAllBtn" method="post">
                        <input type="submit" name="test" value="حذف همه" id="deleteAll"> 
                    </form>
                </td>

            </tr>

        </table>
        
    </footer>




@functions{
    public string GetColorIndex(int index)
    {
        int n = 9;
        int R = 255;
        int G = 255;
        int B = 255;
        

        int step = 255/(n / 3);
        int Rlimit =1;
        int Blimit = (n / 3) + 1;
        int Glimit = 2*(n / 3) + 1;


        string colorCode;

        if (index <= Blimit)
        {
            R = -(index - Rlimit) * step;
            G = 0;
            B = (index - Rlimit) * step;

        }
        else if (index > Blimit & index <=Glimit)
        {
            R = 0;
            G = (index - Blimit) * step;
            B = -(index - Blimit) * step;
        }
        else if (index > Glimit)
        {
            R = (index - Glimit) * step;
            G = -(index - Glimit) * step;
            B = 0;

        }


        colorCode = ((R * 65536) + (G * 256) +B).ToString("x");

        return colorCode;

    }
    }


  
@*****************************************jQuery *****************************************@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
              $(document).ready(function () {
                $("button").click(function () {
                    ;

                    console.log("btn id:" + (this).id + " value :" + (this.value));



                    if (this.id != "Selected") {
                      

                        $.ajax({

                            type: "POST", //HTTP POST Method
                            url: "SelectBtn", // Controller/method
                            data: { //Passing data
                            BtnId: (this).id //$("#txtName").val() //Reading text box values using Jquery
                               

                            }, success: function (data) { location.reload(); }
                        });


                    }

                    //MakeBtn((this).id, (this).value);

                });

                Calculate();

            });



            function Calculate() {



                var totalPrice = 0;

                $("#total").text("0");

                $("button").each(function (index, value) {
                    console.log(`div${index}: ${(this.id).substring(0, 1)} : ${this.value}`);
                    if ((this.id) == "Selected") {

                        

                        totalPrice = totalPrice + parseFloat(this.value);
                       

                        $("#total").text(totalPrice);

                    }
                });

            }

</script>
