@{
    ViewData["Title"] = "تعرفه";
}


@model dynamic

@section NavItem
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="tariff">تعرفه</a>
    
    </li>
}






<div style="background-color:#ffff;border-radius: 17px; border: 1px solid #130085; height:100%; width:100%; padding:2% 3% 2% 3%;">

    <header class=" row w-100 p-4 text-sm-right" style=" background-color:white;border-radius: 17px; margin-right:3px;border: 1px solid #130085; ">
    
    <input style="direction:rtl; border:none; block-size:none;" class="text-sm-centr" value="@{var person = Model.personInfo;@person.PersonName }"> 
    <div class="text-lg-right">، به باشگاه خوش اومدی!<img style=" height:1em; width:1em;" src="@Url.Content("~/images/wave.png")" /></div>

</header>


    @{
        int i = 1;
        Int64 summ = 0;
<body style="direction:rtl;text-align:justify; ">

        <style> 
body { 
/*    background-image: url("https://img.freepik.com/free-photo/blurred-cardio-machines_1203-98.jpg?w=900&t=st=1678951885~exp=1678952485~hmac=c7b11f64902a94d3bb32015e1a7fabe56c16fd96cb6b43e045974254996f96d3"); 
*/     background-repeat:no-repeat; 
     background-size:cover; 
     background-opacity: 0.1;

}  
</style>
    

        
       
            @foreach (var dyn979 in Model.tarefeList)
            {
               
                
                if (dyn979.service_id != -1)
                {
                    i = i + 25;
               
                            <div style=" border-radius: 17px;margin:5px;" class="row">

                                        <div id="mainCAt" style="border-radius: 17px; font-size: 0.9em; height:100px; width:15vh;background-color:@(GetColorIndex(i)+"99");text-align:center; margin:5px; padding-top:3.5vh;">@dyn979.service_name
                                
                            </div>

                        @foreach (var dyn743 in Model.tarefeList)
                        {
                            @if (dyn743.service_id == -1)
                            {
                                @if (dyn743.khedmatId == dyn979.service_id)
                                {

                                    @if (dyn743.Selected == true)
                                    {
                                        <button class="btn" id=@dyn743.TarefeId onclick="" style=" border-radius: 17px;background:repeating-linear-gradient(45deg, rgb(250, 252, 255)0, rgba(211, 211, 211, 1) 1px);  margin:5px; height:100px; width:15vh; text-align:center;   border: 3px dashed @(GetColorIndex(i)+"30");;">
                                            
                                
                                        </button>
                                    }else{
                                        <button class="btn" id=@dyn743.TarefeId onclick="" value=@i style=" border-radius: 17px;background-color:@(GetColorIndex(i)+"10"); margin:5px;  height:100px; width:15vh; text-align:center; border-right: 8px solid @(GetColorIndex(i)+"40");">
                                            <div style="font-size: 0.7em" >@dyn743.TarefeTitle</div>
                                            
                                            <div style="font-size: 0.7em" >@dyn743.TarefePrice</div>
                                
                                        </button>
                                    }
                                }

                            }

                        }
                        </div>
                   
                }
              

            }



            <hr />

                <div > <p >تعرفه های انتخاب شده:</p></div>
          
            <hr />
            <br />
       

            @foreach (var dyn743 in Model.tarefeList)
            {

                if (dyn743.Selected == true)
                {


                    <button class="btn" onclick="" style="vertical-align:middle; border-right: 8px solid @(GetColorIndex(dyn743.Color)+"40"); border-radius: 17px;background-color:white; margin:5px;  height:100px; width:15vh; text-align:center;  font-size: 0.7em" id="Selected" > @dyn743.TarefeTitle <br /> @dyn743.TarefePrice </button>

                    summ = summ + dyn743.TarefePrice;


                }
   
    }

            





    </body>
    <br/>
    <br/>
    <br/>

        <footer class="row align-items-center" style="height:7vh ;margin-bottom:-1.5vh;">

         <div style=" width:20%;height:100%;border-radius: 17px; margin-left:5%;margin-right:10%;">
           

                        <form method="post" asp-controller="home" asp-action="bill" method="post">
                            @*</input><td>@Html.ActionLink("Home", "SendToFactor", new { TarefeId = 1 })</td>*@

                    <input style="background-color:#ffff;border-radius: 17px; border: 1px solid #159300;width:100%;height:7vh;" type="submit" name="test" value="تایید" id="save">
                                @*<img style=" height:2.5em; width:2.5em;" src="@Url.Content("~/images/banknote.png")" />*@
                           

                        </form>
            
        </div>
            <div style="width:20%;height:100%;border-radius: 17px; margin-left:5%;margin-right:5%;">

                <form method="post" asp-controller="home" asp-action="bill" method="post">
                    @*</input><td>@Html.ActionLink("Home", "SendToFactor", new { TarefeId = 1 })</td>*@

                    <input style="background-color:#FFFE;border-radius: 17px; border: 1px solid #130085; width:100%;height:7vh;" type="submit" name="test" value="@summ" id="save" onkeyup="javascript: this.value = ToRial(this.value);" />
                    @*<img style=" height:2.5em; width:2.5em;" src="@Url.Content("~/images/banknote.png")" />*@


                </form>
           
        </div>
            <div style="  border-radius: 17px;width:20%;height:100%; margin-left:4%;margin-right:5%;">
            
                        <form method="post" asp-controller="home" asp-action="ClearAllBtn" method="post">
                    <input style=" background-color:#FFFE;border-radius: 17px; border: 1px solid #CA0000;width:100%;height:7vh;" type="submit" name="test" value="حذف همه" id="deleteAll">
                        </form>
           
        </div>


       
        
    </footer>
    }
    </div>


@functions {
    public string GetColorIndex(int index)
    {
        int n = 255;
        string R = "FF";
        string G = "FF";
        string B = "FF";


        int step = 255 / (n / 3);
        int Rlimit = 1;
        int Blimit = (n / 3) + 1;
        int Glimit = 2 * (n / 3) + 1;


        string colorCode;

        if (index < Blimit)
        {
            R = (255 - (index - Rlimit) * step).ToString("x");
            G = "00";
            B = ((index - Rlimit) * step).ToString("x");

        }
        else if (index == Blimit)
        {
            B = "FF";
            R = "00";
            G = "00";
        }
        else if (index > Blimit & index < Glimit)
        {
            R = "00";
            G = ((index - Blimit) * step).ToString("x");
            B = (255 - (index - Blimit) * step).ToString("x");
        }
        else if (index == Rlimit)
        {
            B = "00";
            R = "FF";
            G = "00";
        }
        else if (index > Glimit)
        {
            R = ((index - Glimit) * step).ToString("x");
            G = (255 - (index - Glimit) * step).ToString("x");
            B = "00";

        }
        else if (index == Glimit)
        {
            B = "00";
            R = "00";
            G = "FF";
        }
        if (R.Length < 2) R = "0" + R;
        if (G.Length < 2) G = "0" + G;
        if (B.Length < 2) B = "0" + B;

        colorCode = "#" + R + B + G;
        //colorCode = B.ToString() + " - " + B.ToString() + "-" + G;

        //colorCode = ((R * 65536) + (G * 256) +B).ToString("x");

        return colorCode;

    }
}


  
@*****************************************jQuery *****************************************@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
              $(document).ready(function () {
                $("button").click(function () {
                    ;

                    console.log("btn id:" + (this).id + " value :" + (this.value));



                    if (this.id != "Selected") {
                      

                        $.ajax({

                            type: "POST", //HTTP POST Method
                            url: "SelectBtn", // Controller/method
                            data: { //Passing data
                            BtnId: (this).id, //$("#txtName").val() //Reading text box values using Jquery
                            ColIndex: this.value
                               

                            }, success: function (data) { location.reload(); }
                        });


                    }

                    //MakeBtn((this).id, (this).value);

                });

                Calculate();

            });



            function Calculate() {



                var totalPrice = 0;

                $("#total").text("0");

                $("button").each(function (index, value) {
                    console.log(`div${index}: ${(this.id).substring(0, 1)} : ${this.value}`);
                    if ((this.id) == "Selected") {

                        

                        totalPrice = totalPrice + parseFloat(this.value);
                       

                        $("#total").text(totalPrice);

                    }
                });

            }

    function ToRial(str) {

        str = str.replace(/\,/g, '');
        var objRegex = new RegExp('(-?[0-9]+)([0-9]{3})');

        while (objRegex.test(str)) {
            str = str.replace(objRegex, '$1,$2');
        }

        return str;
    }

</script>
